pkgbase = quickbuds-bin
	pkgdesc = Control OnePlus / OPPO / realme earbuds over Bluetooth
	pkgver = 4.5.0
	pkgrel = 1
	url = https://github.com/spizganed/QuickBuds
	arch = x86_64
	license = GPL-3.0-only
	depends = bluez
	depends = dbus
	depends = fontconfig
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libgcc
	depends = libxkbcommon
	provides = quickbuds
	conflicts = quickbuds
	source = https://github.com/spizganed/QuickBuds/releases/download/v4.5.0/QuickBuds4.5.0-linux-x64.tar.gz
	sha256sums = 6234e46465ec2bfa127f2e7ee286f97d4c283653ff97be8ca6b4631a85320fa0

pkgname = quickbuds-bin
